@import 'variables';

.trig-functions{
    display: $display;
    grid-template-columns: $six-column-template;
    grid-template-rows: $two-row-template;

    button{ 
        background: $bg-color;
        margin: 4px;
        border-radius: 5px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}